body{
  font-family: 'Calibri', sans-serif;
  margin: 0 10%;
  background-color: rgb(209, 227, 247);
}
h1{
  font-family: "TW cen MT", serif;
  color: rgb(4, 40, 93);
  font-size: 40px;
  font-weight: bold;
}
h2{
  color: rgb(219, 119, 36);
  -webkit-text-stroke: 1px rgb(29, 47, 67);
  font-family: "TW cen MT";
  font-size: 30px;
}

text-box li{
  font-family: Calibri;
  font-size: 15px;
}
.container{
  border: 2px solid rgb(29, 47, 67);
  padding: 10px;
  margin: 10px auto;
  background-color: rgb(80, 110, 130);
}

.color-container{
  width: 100%;
}

.color-box{
  display: inline-block;
  width: 32%;
  text-align: center;
  margin: 20px auto;
  min-height: 100px;
}

.azul{
  background-color: rgb(29, 47, 67);
  color: white;
}

.crema{
  background-color: rgb(209, 227, 247);
}

.efText{
  background-color: rgb(4, 40, 93);
  color: white;
}

.naranja{
  background-color: rgb(219, 119, 36);
  color: white;
}

.verde{
  background-color: rgb(0, 64, 64);
  color: white;
}

.grisAzul{
  background-color: rgb(112, 128, 144);
  color: black;
}

.font-box {
  width: 45%;
  display: inline-block;
  padding: 10px;
}

.TCM{font-family: "TW cen MT";}
.calibri{font-family: "Calibri";}

.fLabel{
  font-size: 20px;
  text-decoration: underline;
}

.bold{
  font-weight: bold;
}

.italic{
  font-style: italic;
}

.text-box{
  width: 32%;
  display: inline-block;
  padding: 10px;
}
